@font-face {
    font-family: 'Poppins';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src:
        local('Poppins Regular'),
        url('./Poppins-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Poppins';
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    src:
        local('Poppins SemiBold'),
        url('./Poppins-SemiBold.woff') format('woff');
}

@font-face {
    font-family: 'Poppins';
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src:
        local('Poppins Bold'),
        url('./Poppins-Bold.woff') format('woff');
}
