:root {
  --primary: #34d399;
  --primary-faded: #a7f3d0;

  --light: #fff;
  --dimmed-100: #f9fafb;
  --dimmed-200: #f3f4f6;
  --dimmed-300: #e5e7eb;
  --dimmed-400: #9ca3af;
  --dimmed-500: #6b7280;
  --dark: #111827;
  --dark-transparent: rgba(17, 24, 39, 0.5);

  --text-main: var(--dark);
  --text-dimmed: var(--dimmed-400);

  --danger: #ef4444;
}
