*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  font-family: 'Europa', sans-serif;
  font-size: 1.6rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text-main);
  background: var(--main) center center no-repeat fixed;
  background-size: cover;
}

body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background: transparent var(--background-blurhash) center center no-repeat;
  background-size: cover;
  opacity: 1;
}

body[data-background-loaded]::before {
  transition: opacity 500ms ease;
  opacity: 0;
}

a,
input,
textarea,
button {
  font: inherit;
  color: inherit;
}
