:root {
  --light: #fff;
  --dark: #111827;

  --main: var(--light);
  --dimmed-100: #f9fafb;
  --dimmed-200: #f3f4f6;
  --dimmed-300: #e5e7eb;
  --dimmed-400: #9ca3af;
  --dimmed-500: #6b7280;
  --inverted: var(--dark);
  --inverted-transparent: rgba(17, 24, 39, 0.5);

  --text-main: var(--dark);
  --text-inverted: var(--light);

  --primary: var(--dimmed-300);
  --primary-faded: var(--dimmed-200);
  --danger: #dc2626;
}

body[data-theme='DARK'] {
  --light: #fff;
  --dark: #111827;

  --main: var(--dark);
  --dimmed-100: #1f2937;
  --dimmed-200: #374151;
  --dimmed-300: #4b5563;
  --dimmed-400: #6b7280;
  --dimmed-500: #9ca3af;
  --inverted: var(--light);
  --inverted-transparent: rgba(31, 41, 55, 0.75);

  --text-main: var(--light);
  --text-inverted: var(--dark);

  --primary: var(--dimmed-300);
  --primary-faded: var(--dimmed-200);
  --danger: #f87171;
}

body[data-color='green'] {
  --primary: #34d399;
  --primary-faded: #a7f3d0;
}

body[data-color='green'][data-theme='DARK'] {
  --primary: #047857;
  --primary-faded: #10b981;
}

@media (prefers-color-scheme: dark) {
  :root {
    --light: #fff;
    --dark: #111827;

    --main: var(--dark);
    --dimmed-100: #1f2937;
    --dimmed-200: #374151;
    --dimmed-300: #4b5563;
    --dimmed-400: #6b7280;
    --dimmed-500: #9ca3af;
    --inverted: var(--light);
    --inverted-transparent: rgba(31, 41, 55, 0.75);

    --text-main: var(--light);
    --text-inverted: var(--dark);

    --primary: var(--dimmed-300);
    --primary-faded: var(--dimmed-200);
    --danger: #f87171;
  }

  body[data-theme='LIGHT'] {
    --light: #fff;
    --dark: #111827;

    --main: var(--light);
    --dimmed-100: #f9fafb;
    --dimmed-200: #f3f4f6;
    --dimmed-300: #e5e7eb;
    --dimmed-400: #9ca3af;
    --dimmed-500: #6b7280;
    --inverted: var(--dark);
    --inverted-transparent: rgba(17, 24, 39, 0.5);

    --text-main: var(--dark);
    --text-inverted: var(--light);

    --primary: var(--dimmed-300);
    --primary-faded: var(--dimmed-200);
    --danger: #dc2626;
  }

  body[data-color='green'] {
    --primary: #047857;
    --primary-faded: #10b981;
  }

  body[data-color='green'][data-theme='LIGHT'] {
    --primary: #34d399;
    --primary-faded: #a7f3d0;
  }
}
